<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Record</title>
</head>

<body>
   <h1>New GLobal Record</h1>
   <form action="/ranking" method="post">
      <label for="user">Username</label>
      <input type="text" id="user" name="user" placeholder="Username">
      <p>Score: <b><%= score %> </b></p>
      <button>Confirm</button>
   </form>
</body>

</html>