<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ranking</title>
   <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
   <h1 style="display: inline-flex; flex-direction: column;width:100%">
      <span>Global Ranking</span>
      <span style="margin-top:.5rem;font-size: .8em;">Mode : Hard</span>
   </h1>

   <ul id="ranking">
      <% let n=0 %>
      <% for(let score of scores) { %>
      <li>
         <div class="place">Place <span><%= l-n %></span> :</div>
         <div class="data"> <%=score.user  %> - <%= score.score %></div>
      </li>
      <% n+=1 %>
      <% } %>
   </ul>
   <div class="absolute">
      <div class="link">
         <a href="/"><span>Play</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z" />
            </svg>
         </a>
      </div>
   </div>
</body>

</html>