<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Ranking</title>
   <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
   <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
   <h1 style="display: inline-flex; flex-direction: column;width:100%">
      <span>Global Ranking</span>
   </h1>

   <ul id="ranking">
      <% let n=1 %>
      <% for(let score of sortedScores) { %>
      <li>
         <div class="place">Place <span><%= n %></span> :</div>
         <div class="data"> <%=score.user  %> - <%= score.score %> - <%= score.mode %> </div>
      </li>
      <% n+=1 %>
      <% } %>
   </ul>
   <div class="absolute left">
      <div class="link">
         <a href="https://colorgame-dt.herokuapp.com/"><span>Play</span>
            <span class="svg l"></span>
         </a>
      </div>
   </div>
</body>

</html>