body{ 
   display: flex;
   flex-direction: column;
   position: relative;
   min-height: 100vh;
   background-color: #232323;
   margin: 0;
   font-family:Verdana, sans-serif;     
   background-image: url('../assets/meteor.svg');
   background-size: auto;
   font-family: 'JetBrains Mono', monospace;
}

h1{
    color:  white;
    background-color:steelblue; 
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.15;

}

a{
   margin:0;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

a:link {
   color:white;
   background-color:var(--secondColor);
 }
 
 /* visited link */
 a:visited {
   color:white;
   background-color:var(--secondColor);
 }
 
 /* mouse over link */
 a:hover {
   color:white;
   background-color:var(--thirdColor);
 }
 
 /* selected link */
 a:active {
   color:white;
   background-color:var(--thirdColor);
 }
/* #################################### */
 #stripe {
   height: 2rem;
   display: flex;

   width:100%;
   background-color: white;
}
/* ###################################### */
.container{
   display: flex;
   flex-direction: row;
   margin:0;
   justify-content: center;
   align-self: center;
   width: 80%;
   padding:0;
}

.absolute{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: absolute;
   box-sizing: border-box !important;
   top: .1rem;
   
   transition: none;

   padding:.4rem .8rem;
   color:white;
}
.left{left:0.5%}

.link a{
   font-size: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   padding:.5rem;
   box-sizing: border-box;
   

}
.link a span{
   font-weight: 600;
}


.l{
   background-image: url('../assets/arrow-left.svg');
}

.link a .svg{
   height:1.8rem;
   width:1.8rem;
   margin-left:.6rem;
   background-size: contain;
}

.link{ 
   transition: all .2s ease-in-out;
}

.link:hover{
   transform: scale(1.03);
   text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
}
a:hover .svg{
   animation: hoverLink .3s linear reverse both;
}


ul{
   display: flex;
   flex:2;
   flex-direction: column;
   flex-wrap: wrap;
   color:white;

   font-size:1.25rem;
   font-weight: 600;
}

li{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;

   margin:.8rem .8rem .1rem .8rem ;
}

.place span{
   color:red;
}

.data{
   margin-left:.6rem;
}
/* ###################################### */



@keyframes hoverLink{
   0%{
      transform: translateY(0) rotate(0deg);
   }
   40%{
      transform: translateY(-2px)  rotate(144deg);
   }
   45%{
      transform: translateY(-3px) rotate(162deg);
   }
   50%{
      transform: translateY(-4px) rotate(180deg);
   }
   55%{
      transform: translateY(-3px) rotate(198deg);
   }
   60%{
      transform: translateY(-2px) rotate(216deg);
   }
   100%{
      transform: translateY(0) rotate(360deg);
   }
}
