@font-face {
   font-family: 'JetBrains Mono';
   src: url('../assets/JetBrainsMono-VariableFont_wght.ttf');
}

html{
    min-height:100%;
    width:100%;
    margin:0;
    padding:0;
    position: relative;
   }
   
   body{ 
   display: flex;
   flex-direction: column;
   min-height: 100%;
   margin: 0;
   background-image: url('../assets/bg.svg');
   background-size: cover;
   font-family: 'JetBrains Mono', monospace;
}

h1{
    color:  white;
    background-color:steelblue; 
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    font-size:2.3em;
    line-height: 1.15;
}

h2{
   font-size: 1.8em;
   color:white;
   margin:0;
   margin:2rem 0 1.4rem 0;
   padding:0 .8rem;
   border-bottom: 1px solid white;
}

nav{
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

button{
    border: none;
    background:  none;
    text-transform: uppercase;
    height: 100%;
    padding: .2rem;
    font-weight: 700;
    color: rgb(70, 130, 180);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover{
    background-color: steelblue;
    color: white;
    cursor: pointer;
}

main{
  display: flex;
  justify-content: center;
  z-index: 5;
  margin-bottom: 3rem;
}

p{
   margin:0;
   padding:0;
}


a{
   margin:0;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

a:link,a:visited {
   color:white;
   background-color:var(--secondColor);
}

/* mouse over link */
a:hover,a:active {
   color:white;
   background-color:var(--thirdColor);
 }
 
 /* groups */
 a:focus:not(:focus-visible){
   outline: none;
}
button:focus:not(:focus-visible){
   outline: none;
}
input:focus:not(:focus-visible){
   outline: none;
}

ul{
   display: flex;
   flex-direction: column;
   flex:2;
   color:white;
   margin:0;
   padding: 0;

   font-size:1.25rem;
   font-weight: 600;
}

li{
   display:flex;
   flex-direction: row;
   justify-content: center;

   width:100%;
   margin:.8rem .8rem .1rem .8rem ;
}

/* id's */

#colorDisplay{
  font-size: 1.6em;
  cursor: default;
}

#stripe {
    height: 2rem;
    display: flex;
    width:400px;
    justify-content: space-between;
}

#message{
   height: 100%;
   display: flex;
   align-items: center;
   box-sizing: border-box;
   justify-content: center;
    align-self: center;
    padding: .2rem .2rem .3rem .2rem;
}

#recordUser{
   font-weight: 900;
}
 #footer{
   position: absolute;
   bottom:0;
   width:100%;
   padding:.5rem;
   text-align: right;
   box-sizing: border-box;
   color: white;
 }

 
 /* classes */
 .disable {
    /* pointer-events: none; */
   z-index: -1000;
   filter:blur(3px);
}


.formula{
   position: absolute;
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   flex-direction: column;
   top:20rem;
   
   z-index: 1000;
   width:50%;
   max-width: 400px;
   background-color:white;
   -webkit-box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.493) ;
   box-shadow: 0px 0px 100px 10px  rgba(255, 255, 255, 0.493);

   transition: all 0.7s;
   animation: fadeIn 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.btnForm{
    width:100%;
    color:white;
    background-color: rgb(70, 130, 180);
 }

 .btnForm:hover{  
  color: rgb(70, 130, 180);
  background-color:white;
 }
form{
   display: flex;
   flex-direction: column;
   width: 100%;
}
input{
   box-sizing: border-box;
   border: none;
   height: 1.6rem;
   font-size: 1rem;
   font-weight: 600;
   color:steelblue;
   padding-left: .2rem;
   text-align: center;
   outline:none;
}
input::placeholder{
   color:steelblue;
   text-align: center;
}



.content{
   transition:all 1s ease-in-out;
}
.left{
   left:0.5%;
}
.right{
   right:0.5%;
}


.absolute {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: absolute;
   box-sizing: border-box !important;
   top: .1rem;

   padding:.4rem .8rem;
   color:white;
}

.score{
   display: flex;
   flex-direction: column;
   margin-top:3rem;
   
   padding-left:.5rem;
}

.link a{
   font-size: 2rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   box-sizing: border-box;
}

.link a span{
   font-weight: 600;
}
.r{
   background-image: url('../assets/arrow-right.svg');
}
.l{
   background-image: url('../assets/arrow-left.svg');
}

.svg{
   height:1.8rem;
   width:1.8rem;
   margin-left:.6rem;
   background-size: contain;
}



.link ,.save{
   font-size: 2rem;
   padding:.5rem;
   box-sizing: border-box;
   transition: all .2s ease-in-out;
}
.link:hover,.save:hover{
   transform: scale(1.03);
   text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
}

a:hover .svg.r{
   animation: hoverLink .3s linear normal both;
}
a:hover .svg.l{
   animation: hoverLink .3s linear reverse both;
}

.save{
   font-weight: 600;
   color:white ;
   cursor: pointer;
}


.place span{
   color:red;
}

.data{
   margin-left:.6rem;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   align-self:center;

   width: 100%;
   max-width: 860px;
   padding:0;
   margin: 15px 0;
    
}
   
.square{
   position: relative;
   overflow: hidden;
    background-color: indianred;
    width: 30%;
    padding-bottom: 30%; 
    margin-bottom:calc(10%/4);
    border-radius: 15%;
    display: block;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition:  all 0.8s;
    -moz-transition:  all 0.8s; 
}

.square:after{
   content:'';
   position: absolute;
   opacity: 0;
   left:-50%;
   padding-right:0%;
   padding-bottom: 100%; 
 
   transform: skew(-40deg);
   border-radius: 15%;
   filter: blur(40px);
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%); */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.062) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    /* transition: all .4s ease-in-out ; */
    transition-property: opacity,left,padding-right;
    transition-duration: 0.15s,0.1s,0.5s;
    transition-timing-function: ease;
}

.square:hover:after{
   opacity: 1;
   left:0%;
   padding-right: 300%;
}

.col{
   display: flex;
   flex: 2;
   flex-direction: column;
   align-items: center;
}


.selected{
    background-color: steelblue;
    color: white;
}

.entice{
  animation: entice .2s ease-in-out;
}

.animation{
  animation: shaking 1s linear  normal both;
}


.error{
   font-family: Arial,sans-serif;
   display: flex;
   flex-direction: row;
   align-items: center;
   position:absolute;
   border-radius: 0 8px 8px 0;
   top:.3rem;
   left:0;
   cursor: pointer;
   
   padding:5px 5px 5px 35px;
   transform:translateX(-25px);

   background-color:#ffcccc;
   border:1px solid #e28c8c;
   color: #b64e4e;
   font-weight:400;

   transition:all .7s ease-in-out;
   animation:slideIn .50s cubic-bezier(0.175, 0.885,0.32,1.320);
}

.error #closeError{
   background-color: inherit;
   border:none;
   color:inherit;
   padding:0;
   margin:0;
   margin-left:1rem;

}

/* ######################### MEDIA QUARIES ####################### */

@media (max-width:765px) {
  #colorDisplay{
    font-size: 1.7em;
  }
  .container{
    align-content: center;
  }
  .square{
    width: 45%;
    padding-bottom: 45%;
    margin-bottom:calc(10%/3);
  }
  li{
   flex-direction: column;
   text-align: center;
   }
}
@media (max-width:556px) {
  #colorDisplay{
    font-size: 1.5em;
  }
}
@media (max-width:457px) {
  header{
    font-size: 0.8rem;
  }
}
@media (max-width:350px) {
  #message{
    display:none;
  }
}


/* ######################### KEYFRAMES ####################### */

@keyframes slideIn {
   from {opacity: 0;transform:translateX(-220px);}
   to {opacity: 1;transform:translateX(-25px);}
}

@keyframes fadeIn {
   from {opacity: 0;transform: scale(0.1);}
   to {opacity: 1;transform: scale(1);}
}

@keyframes entice {
   0%{transform: rotate(-1deg)}
   30% {transform: rotate(3deg)}
   70% {transform: rotate(-2deg)}
   100% {transform: rotate(0deg)}
}

@keyframes shaking{
  0%{transform:rotate(0deg)}
  20%{transform:rotate(110deg)}
  50%{transform:rotate(20deg)}
  70%{transform:rotate(-75deg)}
  90%{transform:rotate(34deg)}
  100%{transform:rotate(0deg)}
}

@keyframes hoverLink{
   0%{transform: translateY(0) rotate(0deg)}
   40%{transform: translateY(-2px)  rotate(144deg)}
   45%{transform: translateY(-3px) rotate(162deg)}
   50%{transform: translateY(-4px) rotate(180deg)}
   55%{transform: translateY(-3px) rotate(198deg)}
   60%{transform: translateY(-2px) rotate(216deg)}
   100%{transform: translateY(0) rotate(360deg)}
}