html{
    height:100%;
    margin:0;
    
}

body{
   position: relative;
   height:100%;
   background-color: #232323;
   margin: 0;
   font-family:Verdana, Geneva, Tahoma, sans-serif;     
   background-image: url('../assets/meteor.svg');
   background-size: auto auto;
}

h1{
    color:  white;
    background-color:steelblue; 
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    line-height: 1.15;

}

nav{
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

button{
    border: none;
    background:  none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: rgb(70, 130, 180);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover{
    background-color: steelblue;
    color: white;
}

main{
  display: flex;
  justify-content: center;
  z-index: 5;
}

a{
   margin:0;
}

/* groups */
button:focus:not(:focus-visible){
   outline: none;
}
input:focus:not(:focus-visible){
   outline: none;
}


/* id's */
#colorDisplay{
  font-size: 2em;
  cursor: default;
}

#stripe {
    height: 2rem;
    display: flex;
    width:400px;
    justify-content: space-between;
}

#message{
    align-self: center;
}

#recordUser{
   font-weight: 900;
}

#ranking{
   display:flex; 
   flex-direction: column-reverse;
   align-items: center;
   color:white;
   padding:0;
   margin:0;

   font-size:1.25rem;
}
#ranking li{
   list-style-type:none;
   text-align: center;
   display: flex;
   width:100%;
   justify-content: center;
   flex-direction: row;

   margin-top:1.2rem;
}

/* classes */
.formula{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   top:30%;
   left:50%;
   right:50%;
   background-color: indianred;

   animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blur{
   filter:blur(3px)
}

.content{
   transition:all 1s ease-in-out;
}

.absolute{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: absolute;
   top:0;
   left:0;
   
   padding:.5rem .7rem 1rem .7rem;
   color:white;
   max-width: 7rem;
   
   /* border-radius: 0% 0% 80% 80% / 100% 50% 100% 100%; */
}

.place,.data{
   display: inline-flex;
   justify-content: center;
   align-items: center
}
.data{
   margin-left: 1rem;
}

.place span{
   color:red;
   margin:0 .45rem;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

.square{
    background-color: indianred;
    width: 30%;
    padding-bottom: 30%; 
    margin-bottom:calc(10%/4);
    border-radius: 15%;
    display: block;
    transition: all 0.6s;
    -webkit-transition:  all 0.6s;
    -moz-transition:  all 0.6s; 
}

.selected{
    background-color: steelblue;
    color: white;
}

@media (max-width:765px) {
  #colorDisplay{
    font-size: 1.7em;
  }
  .container{
    align-content: center;
  }
  .square{
    width: 45%;
    padding-bottom: 45%;
    margin-bottom:calc(10%/3);
  }
}
@media (max-width:556px) {
  #colorDisplay{
    font-size: 1.5em;
  }
}
@media (max-width:457px) {
  header{
    font-size: 0.8rem;
  }
}

@media (max-width:350px) {
  #message{
    display:none;
  }
}

.animation{
  animation: shaking 1s linear 1 normal both;
}
/* 
.hide{
  animation: hidding 1s linear 1 normal both;
}

.show{
  animation: showing 1s linear 1 normal both;
}

@keyframes showing{
  0%{
    display: block !important;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes hidding{
    0%{
      opacity: 1;
    }
    99%{
      opacity: 0.001;
    }
    100%{
      opacity: 0;
      display: none !important;
    }
} */
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.1);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes shaking{
  0%{
      transform:rotate(0deg);
  }
  20%{
      transform:rotate(110deg) ;
  }
  50%{
      transform:rotate(20deg) ;
 
  }
  70%{
      transform:rotate(-75deg) ;
  }
  90%{
      transform:rotate(34deg) ;
  }
  100%{
      transform:rotate(0deg) ;
  }
}

