html{
    min-height:100%;
    width:100%;
    margin:0;
    padding:0;
    
}

body{ 
   display: flex;
   flex-direction: column;
   position: relative;
   min-height: 100vh;
   background-color: #232323;
   margin: 0;
   font-family:Verdana, sans-serif;     
   background-image: url('../assets/meteor.svg');
   background-size: auto;
}

h1{
    color:  white;
    background-color:steelblue; 
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    line-height: 1.15;

}

nav{
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

button{
    border: none;
    background:  none;
    text-transform: uppercase;
    height: 100%;
    padding: .2rem;
    font-weight: 700;
    color: rgb(70, 130, 180);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

button:hover{
    background-color: steelblue;
    color: white;
    cursor: pointer;
}

main{
  display: flex;
  justify-content: center;
  z-index: 5;
}

a{
   margin:0;
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

a:link {
   color:white;
   background-color:var(--secondColor);
 }
 
 /* visited link */
 a:visited {
   color:white;
   background-color:var(--secondColor);
 }
 
 /* mouse over link */
 a:hover {
   color:white;
   background-color:var(--thirdColor);
 }
 
 /* selected link */
 a:active {
   color:white;
   background-color:var(--thirdColor);
 }
/* groups */
button:focus:not(:focus-visible){
   outline: none;
}
input:focus:not(:focus-visible){
   outline: none;
}


/* id's */
#colorDisplay{
  font-size: 2em;
  cursor: default;
}

#stripe {
    height: 2rem;
    display: flex;
    width:400px;
    justify-content: space-between;
}

#message{
    align-self: center;
}

#recordUser{
   font-weight: 900;
}


/* classes */
.disable {
   pointer-events: none;
}
.formula{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   top:30%;
   left:50%;
   right:50%;
   z-index: 1000;
   background-color: indianred;

   animation: fadeIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blur{
   filter:blur(3px)
}

.content{
   transition:all 1s ease-in-out;
}
.left{left:0.5%}
.right{right:0.5%}

.absolute{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   position: absolute;
   box-sizing: border-box !important;
   top: .1rem;

   padding:.8rem;
   color:white;
}

.absolute .score{
   display: flex;
   flex-direction: column;
   margin-top:.3rem;
   
   padding-left:.5rem;
}

.link a{
   font-size: 1.5rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;

}
.link a span{
   font-weight: 600;
}
.r{
   background-image: url('../assets/arrow-right.svg');
}

.link a .svg{
   background-size: contain;
   height: 1.05em;
   width:1.05em;
   margin:auto 0 auto .7rem;
   transition: margin .4s ease-out;
   
}

.link .svg.r:hover{
   animation: hoverLink .4s linear normal both;
}
.link a,.save{
   padding:.5rem;
   box-sizing: border-box;
   transition: all .2s ease-in-out;
}
.link a:hover,.save:hover{
   text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
.save{

   font-size: 1.5rem;
   font-weight: 600;
   color:white ;
   cursor: pointer;
}



.container{
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}

.square{
    background-color: indianred;
    width: 30%;
    padding-bottom: 30%; 
    margin-bottom:calc(10%/4);
    border-radius: 15%;
    display: block;
    cursor: pointer;
    transition: all 0.6s;
    -webkit-transition:  all 0.6s;
    -moz-transition:  all 0.6s; 
}

.selected{
    background-color: steelblue;
    color: white;
}

.entice{
  animation: entice .2s ease-out;
}

.animation{
  animation: shaking 1s linear  normal both;
}

@media (max-width:765px) {
  #colorDisplay{
    font-size: 1.7em;
  }
  .container{
    align-content: center;
  }
  .square{
    width: 45%;
    padding-bottom: 45%;
    margin-bottom:calc(10%/3);
  }
}
@media (max-width:556px) {
  #colorDisplay{
    font-size: 1.5em;
  }
}
@media (max-width:457px) {
  header{
    font-size: 0.8rem;
  }
}

@media (max-width:350px) {
  #message{
    display:none;
  }
}


@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.1);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes entice {
   0%{
      transform: rotate(-5deg);
   }
   30% {
      transform: rotate(7deg);
   }
   70% {
      transform: rotate(-2deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

@keyframes shaking{
  0%{
      transform:rotate(0deg);
  }
  20%{
      transform:rotate(110deg) ;
  }
  50%{
      transform:rotate(20deg) ;
 
  }
  70%{
      transform:rotate(-75deg) ;
  }
  90%{
      transform:rotate(34deg) ;
  }
  100%{
      transform:rotate(0deg) ;
  }
}

@keyframes hoverLink{
   0%{
      transform: translateY(0) rotate(0deg);
   }
   40%{
      transform: translateY(-2px)  rotate(144deg);
   }
   45%{
      transform: translateY(-3px) rotate(162deg);
   }
   50%{
      transform: translateY(-4px) rotate(180deg);
   }
   55%{
      transform: translateY(-3px) rotate(198deg);
   }
   60%{
      transform: translateY(-2px) rotate(216deg);
   }
   100%{
      transform: translateY(0) rotate(360deg);
   }
}

